@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
input,
textarea,
select,
button {
  font-family: $FONT_FAMILY;
  font-size: 1.6rem;
  font-weight: normal;
  color: #222;
}

body {
  background: url("../img/bg-body.png");
  padding: 50px 0 60px;
}

a {
  color: #39c;
}

img {
  display: inline-block;
  max-width: 100%;
}
